* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.main {
  width: 1200px;
  min-height: 100vh;
  max-width: 100%;
  margin: 10px auto 360px;
  background-color: #fff;
  padding-bottom: 20px;
}

/* Product */
.main__product {
  display: flex;
  padding: 10px;
}

.main__product-img {
  width: 40%;
  padding-top: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.main__product-info {
  width: 60%;
  padding: 10px;
}

/* Column layout */
.column-layout {
  margin-top: 36px;
  padding: 12px 0;
  background-color: #fff;
  display: flex;
}

.column-layout__category {
  width: 20%;
  padding: 0 16px;
}

.column-layout__container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.column-item {
  width: 25%;
  padding: 0 16px;
}

/* Feature layout */
.feature-layout {
  margin-top: 36px;
  justify-content: space-around;
  display: flex;
}

.feature-item {
  padding: 12px 16px;
  margin-top: 28px;
  flex-basis: 30%;
}

.feature-item:nth-child(1) {
  background-color: rgb(192, 227, 222);
}

.feature-item:nth-child(2) {
  background-color: rgb(227, 200, 192);
}

.feature-item:nth-child(3) {
  background-color: rgb(226, 192, 227);
}


.nav {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: #333;
}


.nav__list{
list-style-type: none;
display: flex;
}

.nav__link{
text-decoration: none;
color: #fff;
margin-right: 48px;

}


.nav__input:checked ~ .nav__overlay{
  display: block;
}

.nav__input:checked ~ .nav__mobile{
  transform: translateX(0%);
  opacity: 1;
}

/*mobile nav*/
.nav__bars-btn{
width: 28px;
height: 28px;
color: #fff;
display: none;
margin-left: 8px;
}

.nav__overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeIn linear 0.3s;
}

.nav__mobile{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background: #fff;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
}

.nav__mobile-close{
  font-size: 1.4rem;
  color: #666;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 28px;
  height: 28px;
}

.nav__mobile-list{
  margin-top: 24px;
  list-style-type: none;
}

.nav__mobile-link{  
  text-decoration: none;
  color: #333;
  display: block;
  padding:8px 0;
  font-size: 1.4rem;
}
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  
  .column-layout__category{
    display: none;
  }
  .column-layout__container{
    width: 100%;
  }
  .column-item{
    width: 100%;
  }
  .feature-layout{
    flex-wrap: wrap;
  }
  .feature-item{
    flex-basis: 100%;
  }
}


/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  
  .column-item{
    width: 33.333%;
  }
  .feature-item{
    flex-basis: 100%;
  }

}


/* Tabblet and mobile*/
@media only screen and (max-width: 1023px) {
  .main__product{
    display: flex;
    flex-direction: column-reverse;
  }

  .main__product-info{
    width: 100%;
    text-align: center;
  }
  .main__product-desc{
    display: none;
  }
  .main__product-img{
    width: 85%;
    padding-top: 85%;
  }
  .nav__bars-btn{
    display: block;
  }
  .nav__pc{
    display: none;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}